{% load i18n %}
<!-- Footer Start -->
<div class="container-fluid bg-dark text-white py-5 px-sm-3 px-lg-5" style="margin-top: 90px;">
    <div class="row pt-5">
        <div class="col-lg-7 col-md-12">
            <div class="row">
                <div class="col-md-6 mb-5">
                    <h5 class="text-primary text-uppercase mb-4" style="letter-spacing: 5px;">{% trans 'Get In Touch' %}</h5>
                    <p><i class="fa fa-map-marker-alt mr-2"></i>{% trans 'Egypt, Cairo (EG)' %}</p>
                    <p><i class="fa fa-envelope mr-2"></i><a href="javascript:openmail();">learncodeeasily.contact@gmail.com</a></p>
                    <div class="d-flex justify-content-start mt-4">
                        {% for url in urls %}
                            <a class="btn btn-outline-light btn-square mr-2" href="{{ url.url }}"><i class="fab {{ url.icon }}"></i></a>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6 mb-5">
                    <h5 class="text-primary text-uppercase mb-4" style="letter-spacing: 5px;">{% trans 'Our Courses' %}</h5>
                    <div class="d-flex flex-column justify-content-start">
                        {% for course in courses %}
                            <a class="text-white mb-2" href="{% url 'course_list' course.id %}"><i class="fa fa-angle-right mr-2"></i> {{ course.name }} </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-12 mb-5">
            <h5 class="text-primary text-uppercase mb-4" style="letter-spacing: 5px;">{% trans 'Our Blog' %}</h5>
            <div class="d-flex flex-column justify-content-start">
                {% for art in arts %}
                    <a class="text-white mb-2" href="{% url 'article_detail' art.id %}"><i class="fa fa-angle-right mr-2"></i> {{ art.title }} </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: rgba(256, 256, 256, .1) !important;">
    <div class="row">
        <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
            <p class="m-0 text-white">&copy; <a href="/">{% trans 'Hamza Waleed' %}</a> {% trans '. All Rights Reserved. Designed by' %}<a href="https://htmlcodex.com"> HTML Codex</a>
            </p>
        </div>
        <div class="col-lg-6 text-center text-md-right">
            <ul class="nav d-inline-flex">
                <li class="nav-item">
                    <a class="nav-link text-white py-0" href="{% url 'about' %}">{% trans 'About' %}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Footer End -->