<!-- Carousel Start -->
{% load i18n %}
<div class="container-fluid p-0 pb-5 mb-5">
    <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for slide in slider %}
                <li data-target="#header-carousel" data-slide-to="{{ forloop.counter0 }}" class="{{ slide.is_active }}"></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for slide in slider %}
                <div class="carousel-item {{ slide.is_active }}" style="min-height: 300px;">
                    <img class="position-relative w-100" src="{{ slide.image.url }}" style="min-height: 300px; object-fit: cover;">
                    <div class="carousel-caption d-flex align-items-center justify-content-center">
                        <div class="p-5" style="width: 100%; max-width: 900px;">
                            <h5 class="text-white text-uppercase mb-md-3">{% trans 'Best Online Courses' %}</h5>
                            <h1 class="display-3 text-white mb-md-4"> {{ slide.title }} </h1>
                            <a href="{% url 'about' %}" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">{% trans 'Learn More' %}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Carousel End -->