# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# ===============================
# Virtual Environments
# ===============================
venv/
.env/
.env.*
.venv/

# ===============================
# Django
# ===============================
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# ===============================
# Static & Media
# ===============================
staticfiles/
media/

# ===============================
# Environment & Secrets
# ===============================
.env
.env.production
.env.local

# ===============================
# Pipenv
# ===============================
Pipfile.lock

# ===============================
# Deployment
# ===============================
.env.heroku
.env.render

# ===============================
# OS / Editor
# ===============================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# ===============================
# Tests / Coverage
# ===============================
.coverage
htmlcov/
.pytest_cache/
