{% extends 'base.html' %}
{% load i18n %}
{% load humanize %}
{% block content %}
    
    <body>
        <!-- Header Start -->
        <div class="container-fluid page-header" style="margin-bottom: 90px;">
            <div class="container">
                <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
                    <h3 class="display-4 text-white text-uppercase">{% trans 'Blog' %}</h3>
                    <div class="d-inline-flex text-white">
                        <p class="m-0 text-uppercase"><a class="text-white" href="/">{% trans 'Home' %}</a></p>
                        <i class="fa fa-angle-double-right pt-1 px-3"></i>
                        <p class="m-0 text-uppercase">{% trans 'Blog' %}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->


        <!-- Blog Start -->
        <div class="container-fluid py-5">
            <div class="container py-5">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row pb-3">
                            {% for article in articles %}   
                                <div class="col-lg-6 mb-4">
                                    <div class="blog-item position-relative overflow-hidden rounded mb-2">
                                        <img class="img-fluid" src="{{ article.cover_image.url }}" alt="">
                                        <a class="blog-overlay text-decoration-none" href="{% url 'article_detail' article.id %}">
                                            <h5 class="text-white mb-3"> {{ article.title }} </h5>
                                            <p class="text-primary m-0"> {{ article.created_at|naturaltime }} </p>
                                        </a>
                                    </div>
                                </div>
                            {% empty %}
                                <div class="col-md-12">
                                    <div class="h-100 p-5 bg-white border rounded-3 text-center">
                                        <p>{% trans 'There are no articles to show' %}</p>
                                        <p>
                                            <i class="fa fa-frown fa-2x"></i>
                                        </p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        
                        {% if user.is_authenticated and user.is_staff %}
                            <a href="{% url 'article_create' %}">
                                <button type="submit" class="btn btn-primary">
                                    {% trans 'Create' %}
                                </button>
                            </a>
                        {% endif %}
                        <nav>
                            <ul class="pagination justify-content-center">
                                {% if page_obj.has_previous %}
                                    <li>
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true"> {% trans 'Previous' %} </a>
                                    </li>
                                {% else %}
                                    <li class="disabled">
                                        <a class="page-link" tabindex="-1" aria-disabled="true"> {% trans 'Previous' %} </a>
                                    </li>
                                {% endif %}
                                    {% if page_obj.has_next %}
                                    <li>
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" tabindex="-1" aria-disabled="true"> {% trans 'Next' %} </a>
                                    </li>
                                {% else %}
                                    <li class="disabled">
                                        <a class="page-link" tabindex="-1" aria-disabled="true"> {% trans 'Next' %} </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
        
                    <div class="col-lg-4 mt-5 mt-lg-0">
                        <!-- Author Bio -->
                        <!-- <div class="d-flex flex-column text-center bg-dark rounded mb-5 py-5 px-4">
                            <img src="img/user.jpg" class="img-fluid rounded-circle mx-auto mb-3" style="width: 100px;">
                            <h3 class="text-primary mb-3">John Doe</h3>
                            <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Tag Cloud</h3>
                            <p class="text-white m-0">Conset elitr erat vero dolor ipsum et diam, eos dolor lorem, ipsum sit no ut est  ipsum erat kasd amet elitr</p>
                        </div> -->
        
                        <!-- Search Form -->
                        <div class="mb-5">
                            <form method="get" action="{% url 'article_view' %}">
                                <div class="input-group">
                                    <input name="q" type="text" class="form-control form-control-lg" value="{{ request.GET.q }}" placeholder="{% trans 'Search articles' %}">
                                    <div class="input-group-append">
                                        <span class="input-group-text bg-transparent text-primary"><i class="fa fa-search"></i></span>
                                    </div>
                                </div>
                            </form>
                        </div>
        
                        <!-- Category List -->
                        <div class="mb-5">
                            <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">{% trans 'Categories' %}</h3>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                    <a href="/blog" class="text-decoration-none h6 m-0"> {% trans 'All' %} </a>
                                </li>
                                {% for cat in cats %}  
                                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                        <a href="{% url 'article_view' cat.id %}" class="text-decoration-none h6 m-0"> {{ cat.title }} </a>
                                    </li>
                                {% endfor %}
                                </ul>
                            </div>
        
                        <!-- Recent Post -->
                        <div class="mb-5">
                            <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">{% trans 'Recent Post' %}</h3>
                            {% for la in la_ar %}
                                <a class="d-flex align-items-center text-decoration-none mb-3" href="{% url 'article_detail' la.id %}">
                                    <img class="img-fluid rounded" width="50" height="50" src="{{ la.cover_image.url }}" alt="">
                                    <div class="pl-3">
                                        <h6 class="m-1"> {{ la.title }} </h6>
                                        <small> {{ la.created_at|naturaltime }} </small>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog End -->

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>

    </body>

{% endblock content %}